<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7EGvkfFKSINpd79_lv8EHrq7W9KtxPB0"></script>
    <style>
      #map {
        width: 100%;
      }

      body {
        background: url("https://www.rantecantennas.com/wp-content/uploads/2020/01/microwave-communication-1024x461.jpeg") no-repeat center center fixed;
        background-size: cover;
      }

      h1 {
        font-family: 'Impact', sans-serif;
        font-size: 72px;
        color: white;
        text-shadow: 2px 2px 2px #a5430b;
      }

    </style>
  </head>
    <script>
      let map;
      let polylines = [];
    
      function initMap() {
        useOriginalRegex();
        const emails = document.getElementById("emails").value;
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 6,
          center: { lat: 40.7584, lng: -82.5154 },
        });

        fetch(`/show-paths?emails=${emails}`)
          .then((response) => response.json())
          .then((data) => {
            const geojson = data.geojson;
            geojson.features.forEach((feature) => {
     
              const coordinates = feature.geometry.coordinates;
              const path = [
                { lat: coordinates[0][1], lng: coordinates[0][0] },
                { lat: coordinates[1][1], lng: coordinates[1][0] }
              ];
              const polyline = new google.maps.Polyline({
                path: path,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2,
              });
              polyline.setMap(map);
              polylines.push(polyline);
            });
          });
      }
      function updatePaths() {
        polylines.forEach((polyline) => {
          polyline.setMap(null);
        });
        polylines = [];
        const emails = document.getElementById("emails").value;
        console.log(emails)
        fetch(`/show-paths?emails=${emails}`)
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            const geojson = data.geojson;
            geojson.features.forEach((feature) => {
     
            const coordinates = feature.geometry.coordinates;
            const path = [
              { lat: coordinates[0][1], lng: coordinates[0][0] },
              { lat: coordinates[1][1], lng: coordinates[1][0] }
            ];

            const polyline = new google.maps.Polyline({
              path: path,
              geodesic: true,
              strokeColor: '#FF0000',
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            polyline.setMap(map);
            polylines.push(polyline);
          });
        });
      }
      function useOriginalRegex() {
        var regexInput = document.getElementById("emails");
        regexInput.value = "^([A-Za-z0-9._%+-]+@(zmckay-brothers\\.com|wcwtech\\.com|geodesicnetworks\\.com|auburndata\\.com|abservicesllc\\.com|NeXXComwireless\\.com|isignalnetworks\\.com|anova-tech\\.com|infiniumcm\\.com|tatora\\.com|midwestics\\.com|apsaranetworks\\.com|bsonetwork\\.com|striketechnologies\\.com|akingump\\.com|surveillancetechs\\.com|bobbroadband\\.com|gammafcc@gmail\\.com|newlinenet\\.com))$";
      }
    
      document.addEventListener('DOMContentLoaded', initMap);
    </script>

    <center><h1>Welcome to HFTracker</h1></center>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h2>Path Visualization</h2>
          <form onsubmit="updatePaths(); return false;">
            <div class="form-group">
              <label for="emails">Email Address(es) of FCC Registered Entities</label>
              <input type="text" class="form-control col-lg-9" id="emails" aria-describedby="emailHelp" placeholder="Enter email addresses separated by commas" name="emails">
            </div>
            <button type="submit" class="btn btn-primary">Update Paths</button>
            <button type="button" class="btn btn-secondary" onclick="useOriginalRegex()">Use Original Regex</button>
          </form>
          <div style="margin-bottom: 20px;"></div>
          <div id="map" style="height: 600px;"></div>
        </div>
      </div>
    </div>
    <div class="container mt-4" name="initial">
      
      <div class="card">
        <div class="card-body">
          <h2>Delete Record from License, Path, Locations with usi, and also delete Record from Coordinate that has no connection to any Record from Locations</h2>
          <form action="deleteCascade" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="deleteusicascade" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="deleteusicascade">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      
      <br>
      
      <div class="card">
        <div class="card-body">
          <h2>Insert into License</h2>
          <form action="insert" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="insertusi" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="insertusi">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control col-lg-9" id="insertname" aria-describedby="emailHelp" placeholder="Enter Name" name="insertname">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control col-lg-9" id="insertemail" aria-describedby="emailHelp" placeholder="Enter Email" name="insertemail">
            </div>
            <div class="form-group">
              <label for="street">Street_Address</label>
              <input type="text" class="form-control col-lg-9" id="insertstreet" aria-describedby="emailHelp" placeholder="Enter Street_Address" name="insertstreet">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control col-lg-9" id="insertcity" aria-describedby="emailHelp" placeholder="Enter City" name="insertcity">
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control col-lg-9" id="insertstate" aria-describedby="emailHelp" placeholder="Enter State" name="insertstate">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-body">
          <h2>Search for License</h2>
          <form action="search" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="searchusi" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="searchusi">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control col-lg-9" id="searchname" aria-describedby="emailHelp" placeholder="Enter Name" name="searchname">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-body">
          <h2>Update Records in License</h2>
          <form action="update" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="updateusi" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="updateusi">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control col-lg-9" id="updatename" aria-describedby="emailHelp" placeholder="Enter Name" name="updatename">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control col-lg-9" id="updateemail" aria-describedby="emailHelp" placeholder="If no change please insert existing" name="updateemail">
            </div>
            <div class="form-group">
              <label for="street">Street_Address</label>
              <input type="text" class="form-control col-lg-9" id="updatestreet" aria-describedby="emailHelp" placeholder="If no change please insert existing" name="updatestreet">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control col-lg-9" id="updatecity" aria-describedby="emailHelp" placeholder="If no change please insert existing" name="updatecity">
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control col-lg-9" id="updatestate" aria-describedby="emailHelp" placeholder="If no change please insert existing" name="updatestate">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <br>
      
      <div class="card">
        <div class="card-body">
          <h2>Delete entry in Path</h2>
          <form action="delete" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="deleteusi" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="deleteusi">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control col-lg-9" id="deletename" aria-describedby="emailHelp" placeholder="Enter Name" name="deletename">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      
      <br>
      
      <div class="card">
        <div class="card-body">
          <h2>Advanced SQL query 1</h2>
          <p>Name of the companies who own a license where a transmit location is in Chicago, or a receiver location is in New York.</p>
          <form action="/advancedQuery1" method="POST">
            <div class="form-group">
              <label for="tl">Transmitter Location</label>
              <input type="text" class="form-control col-lg-9" id="aqlocation1" aria-describedby="emailHelp" placeholder="Enter Transmitter Location" name="aqlocation1">
            </div>
            <div class="form-group">
              <label for="rl">Receiver Location</label>
              <input type="text" class="form-control col-lg-9" id="aqlocation2" aria-describedby="emailHelp" placeholder="Enter Receiver Location" name="aqlocation2">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      
      <br>
      
      <div class="card">
        <div class="card-body">
          <h2>Advanced SQL query 2</h2>
          <p>Number of communications locations that are present in each city. Only counts locations that are associated with a license where the company has an “INC.” in the name.</p>
          <form action="/advancedQuery2" method="POST">
            <div class="form-group">
              <label for="rl">Enter Name</label>
              <input type="text" class="form-control col-lg-9" id="namelike" aria-describedby="emailHelp" placeholder="Enter name like" name="namelike">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

  </body>
</html>