<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <center><h1>Welcome to HFTracer</h1></center>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h2>Insert into License</h2>
          <form action="insert" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="usi" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="usi">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control col-lg-9" id="name" aria-describedby="emailHelp" placeholder="Enter Name" name="name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control col-lg-9" id="email" aria-describedby="emailHelp" placeholder="Enter Email" name="email">
            </div>
            <div class="form-group">
              <label for="street">Street_Address</label>
              <input type="text" class="form-control col-lg-9" id="street" aria-describedby="emailHelp" placeholder="Enter Street_Address" name="street">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control col-lg-9" id="city" aria-describedby="emailHelp" placeholder="Enter City" name="city">
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control col-lg-9" id="state" aria-describedby="emailHelp" placeholder="Enter State" name="state">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-body">
          <h2>Search for License</h2>
          <form action="search" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="usi" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="usi">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control col-lg-9" id="name" aria-describedby="emailHelp" placeholder="Enter Name" name="name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-body">
          <h2>Update Records in License</h2>
          <form action="update" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="usi" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="usi">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control col-lg-9" id="name" aria-describedby="emailHelp" placeholder="Enter Name" name="name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control col-lg-9" id="email" aria-describedby="emailHelp" placeholder="Leave empty if no update" name="email">
            </div>
            <div class="form-group">
              <label for="street">Street_Address</label>
              <input type="text" class="form-control col-lg-9" id="street" aria-describedby="emailHelp" placeholder="Leave empty if no update" name="street">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control col-lg-9" id="city" aria-describedby="emailHelp" placeholder="Leave empty if no update" name="city">
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control col-lg-9" id="state" aria-describedby="emailHelp" placeholder="Leave empty if no update" name="state">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <br>
      
      <div class="card">
        <div class="card-body">
          <h2>Delete entry in Path</h2>
          <form action="delete" method="POST">
            <div class="form-group">
              <label for="usi">Unique_System_Identifier</label>
              <input type="text" class="form-control col-lg-9" id="usi" aria-describedby="emailHelp" placeholder="Enter Unique_System_Identifier" name="usi">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control col-lg-9" id="name" aria-describedby="emailHelp" placeholder="Enter Name" name="name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      
      <br>
      
      <div class="card">
        <div class="card-body">
          <h2>advanced SQL query 1</h2>
          <p>Name of the companies who own a license where a transmit location is in Chicago, or a receiver location is in New York.</p>
          <form action="/advancedQuery1" method="POST">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      
      <br>
      
      <div class="card">
        <div class="card-body">
          <h2>advanced SQL query 2</h2>
          <p>Number of communications locations that are present in each city. Only counts locations that are associated with a license where the company has an “INC.” in the name.</p>
          <form action="/advancedQuery2" method="POST">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>